<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="target" value="System.out" />
        <param name="encoding" value="UTF-8" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d]\: - [%c{2}.%M:%L] - %m%n" />
        </layout>
        <filter class="org.apache.log4j.varia.LevelRangeFilter">
            <param name="levelMin" value="DEBUG" />
        </filter>
    </appender>

    <appender name="PROJECT" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/logs/demo/springmvc/app.log" />
        <param name="DatePattern" value="'.'yyyy-MM-dd'.log'" />
        <param name="append" value="true" />
        <param name="encoding" value="UTF-8" />
        <param name="threshold" value="debug" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d]\: - [%c{2}.%M:%L] - %m%n" />
        </layout>
    </appender>

    <appender name="ERROR-APPENDER" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="encoding" value="UTF-8" />
        <param name="File" value="/logs/demo/springmvc/error.log" />
        <param name="Threshold" value="ERROR" />
        <param name="DatePattern" value="'.'yyyy-MM-dd" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%-5p][%d]\: - [%c{2}.%M:%L] - %m%n" />
        </layout>
    </appender>

    <logger name="org.springframework" additivity="false">
        <level value="error" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-APPENDER" />
        <appender-ref ref="PROJECT" />
    </logger>

    <logger name="org.mortbay.log" additivity="false">
        <level value="info" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="ERROR-APPENDER" />
        <appender-ref ref="PROJECT" />
    </logger>

    <root>
        <level value="debug" />
        <appender-ref ref="STDOUT" />
        <appender-ref ref="PROJECT" />
        <appender-ref ref="ERROR-APPENDER" />
    </root>
</log4j:configuration>