<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaojianhx.demo.springboot.db.mapper.OrderMapper">

    <sql id="column">
        <![CDATA[
            SELECT
                ID AS id,
                SN AS sn,
                IP AS ip
            FROM order_tests
        ]]>
    </sql>


    <insert id="insert">
        <![CDATA[
            INSERT INTO order_tests (SN, IP) VALUE (#{sn}, #{ip});
        ]]>
        <selectKey resultType="LONG" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID() AS id;
        </selectKey>
    </insert>

    <select id="getBySn" resultType="order">
        <include refid="column" />
        WHERE SN = #{sn}
    </select>
</mapper>