<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaojianhx.demo.mybatis.db.dao.BuyerMapper">

    <resultMap type="buyer" id="buyerResultMap">
        <id column="id" property="id" />
        <result column="GRADE" property="grade" />
        <result column="ISAUDIT" property="audit" />
        <association column="user_id" property="user" select="com.xiaojianhx.demo.mybatis.db.dao.UserMapper.get" />
    </resultMap>

    <select id="get" resultMap="buyerResultMap">
        select * from buyers where id = #{0}
    </select>
</mapper>