<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO" monitorInterval="5">

    <properties>
        <property name="LOG_HOME">/Users/xiaojianhx/logs/demo-rx</property>
        <property name="PATTERN">[%-5level][%d][%t][%c{2}.%M:%L] - %msg%n</property>
    </properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${PATTERN}" />
        </Console>

        <RollingFile name="app" fileName="${LOG_HOME}.log" filePattern="${LOG_HOME}_%d{yyyyMMdd}.log">
            <PatternLayout pattern="${PATTERN}" />

            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>

            <DefaultRolloverStrategy max="50">
                <Delete basePath="${LOG_HOME}" maxDepth="1">
                    <IfFileName glob="${LOG_HOME}_*.log" />
                    <IfLastModified age="30d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>
    </Appenders>

    <Loggers>
        <root level="INFO">
            <appender-ref ref="console" />
            <appender-ref ref="app" />
        </root>

        <!--AsyncLogger :异步日志,LOG4J有三种日志模式,全异步日志,混合模式,同步日志,性能从高到底,线程越多效率越高,也可以避免日志卡死线程情况发生 -->
        <!--additivity="false" : additivity设置事件是否在root logger输出，为了避免重复输出，可以在Logger 标签下设置additivity为”false” -->
        <AsyncLogger name="AsyncLogger" level="trace" includeLocation="true" additivity="false">
            <appender-ref ref="console" />
            <appender-ref ref="app" />
        </AsyncLogger>
    </Loggers>
</Configuration>